doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Error 404
            p Página não encontrada
        a.button(href='javascript:history.back()') Voltar
        a.button(href='/') Página principal