doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        h1 About
        p.smallwidth
            | This is an a simple Discord Bot List,
            | written in NodeJS, with an
            a(href='https://expressjs.com/')  Express JS web server
            |  and a
            a(href='https://discord.js.org/#/')  discord.js
            |  / 
            a(href='https://klasa.js.org/')  Klasa bot
            | . The bots are stored in a MongoDB database, but no user data is stored or saved. Cookies are used to
            | store discord&apos;s oauth data. If you find any issues or bugs, or have a suggestion say in a 
            a(href='https://discbots-list.herokuapp.com/join') discord server.
        br
        a#back.button(href='javascript:history.back()') Back