doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        h1 Sobre nós
        p.smallwidth
            | Esta é uma Bot list simples de bots do Discord,
            | programado em NodeJS, com 
            a(href='https://expressjs.com/')  Servidor web expresso JS
            |  e
            a(href='https://discord.js.org/#/')  discord.js
            |  / 
            a(href='https://klasa.js.org/')  Klasa bot
            | . Os bots são armazenados em um banco de dados MongoDB, mas nenhum dado do usuário é armazenado ou salvo. Os cookies são usados ​​para
            | armazenamento os dados de autenticação do discord. Se você encontrar algum problema ou bug, ou tiver uma sugestão, diga em nosso
            |  / 
            a(href='https://discbots-list.herokuapp.com/join') servidor de discord.
        br
        a#back.button(href='javascript:history.back()') Voltar