doctype html
include includes/head.pug
script(src='/assets/js/form.js')
script(src="https://www.google.com/recaptcha/api.js" async defer)

body
    include includes/nav.pug
    #content
        span.header
            h1 Adicione seu bot
            p Preencha esses detalhes e aperte esse botão. Assegure-se de que você está em nosso servidor de discord.
        br
        form.center
            .input-holder
                input#botid.input(type='text' placeholder=' ')
                .placeholder ID do bot 
            br
            .input-holder
                input#prefix.input(type='text' placeholder=' ')
                .placeholder Prefixo do bot
            br
            .input-holder
                input#description.input(maxlength=max_summary_length type='text' placeholder=' ')
                .placeholder Descrição curta
            br
            .input-holder
                textarea#longdesc.input(rows='7')
                .textarea-placeholder Descrição longa
            br
            .input-holder
                input#note.input(maxlength=max_summary_length type='text' placeholder=' ')
                .placeholder Nota para os verificadores
            br
            .input-holder
                input#ownerids.input.xinput(type='text' placeholder=' ')
                .placeholder Outros ID's de donos (se não tiver ignore isto)
            br
            .center-inline.g-recaptcha(data-callback='update_token' data-sitekey=site_key data-theme=req.cookies["theme"] || "light")
            a.button(onclick='submit()') Enviar
            br
        br
        
     
     
     
     