doctype html
include includes/head.pug
body(onload="load()")
    include includes/nav.pug
    #content
        span.header
            h1 Discord Bot List
            p Apenas mais uma botlist de bots para o Discord.
        #searchMore
            | Você gostaria de
            a(href='/bots/search/') Procurar todos os bot's
        #cards
            span#loading Carregando...
            
