doctype html
include includes/head.pug
body
    include includes/nav.pug
    #content
        span.header
            h1 Sucesso
            p Você adicionou seu bot à lista. Aguarde a verificação.
        a.button(href='javascript:history.back()') Voltar
        a.button(href='/') Página principal
        