doctype html
include ../includes/head.pug
body
  include ../includes/nav.pug
  #content
    span.header
        h1 Erro
        p Usuário não encontrado
        h4
            | Entre no servidor 
            a(target="_blank" href="/join") aqui
            <head><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3210803261461747"
     crossorigin="anonymous"></script></head>
     <head><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3210803261461747"
     crossorigin="anonymous"></script></head>
     <head><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3210803261461747"
     crossorigin="anonymous"></script></head>
