doctype html
include ../includes/head.pug
body
  include ../includes/nav.pug
  #content
    span.header
        h1 Erro
        p Usuário não encontrado
        h4
            | Entre no servidor 
            a(target="_blank" href="/join") here 
